@font-face {
    font-family: 'Josefin_Sans';
    src: url(../../assets/fonts/Josefin_Sans/static/JosefinSans-Italic.ttf);
    font-style: italic;
}

.HeaderContainer2{
    height: 65px;
    display: flex;
    background-color: #0f102c;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vh;
}

.LogoContainer2 {
    display: flex;
    align-items: center;
    gap: 1vh;

    img {
        border-radius: 25px;
        max-height: 48px;
    }

    p {
        color: white;
        font-size: 3vh;
        font-family: 'Josefin_Sans';
        font-weight: 400;
        font-style: italic;
    }
}

.HeaderContainer2{

    nav {
        display: flex;
        gap: 2vh;
    }

    a {
        color: white;
        font-size: 1.8vh;
    }
}

.SearchBar {
    input {
        height: 2.4vh;
        border: none;
    }

    button {
        height: 2.4vh;
        width: 2.4vh;
        border: none;
    }
}

.UserAccount {
    display: flex;
    align-items: center;
    gap: 1vh;

    img {
        max-height: 5vh;
    }
}

.UserAccount p {
    color: white;
    font-size: 2.7vh;
    font-weight: 400;
}