* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  /* background-image: url('./assets/images/Background_Prov.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #f1f1fa;
}

.bodyContainer {
  height: 88vh;
  display: grid;
  justify-content: center;
  align-items: center;
}