@font-face {
  font-family: 'Josefin_Sans';
  src: url(./assets/fonts/Josefin_Sans/static/JosefinSans-Italic.ttf)format('truetype');
  font-style: italic;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Josefin_Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
